
	<h1>TechGen University</h1>
<p>
	<b>Welcome to TechGen University </b>
	</p>
	<p style="font-size: 15pt">The Portal is committed to disseminate
		major information about the University for quick reference.</p>
	<p style="color: darkblue; font-size: 20pt">
		<b>VCs Message</b>
	</p>
	<p style="font-size: 15pt">It gives us immense pleasure in
		welcoming you to the Web Portal of TechGen University, California,<br> and
		to extend our best wishes for success in all your academic endeavors.</p>
	<p style="color: darkblue; font-size: 20pt">
		<b>Mission Statement</b>
	</p>
	<p style="font-size: 15pt">
		Established and incorporated for the encouragement of
		inter-disciplinary higher Education and Research. <br />Dedicated to
		spread the knowledge to every part of its jurisdiction. <br />University
		is open to all races / classes / castes and creeds......
	</p>