<div class="col-md-6">
  <h2 class="text-center">Add Course</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="number" formControlName="id" placeholder="Course Id with max 5 digits" name="id" class="form-control" id="courseId">
       <div *ngIf="submitted && addForm.controls.id.errors" class="error" >
          <div *ngIf="addForm.controls.id.errors.required">Course Id is required</div>
        </div>
    </div>
    <div class="form-group">
      <input type="text" formControlName="courseName" placeholder="Course Name" name="courseName" class="form-control" id="courseName">
    <div *ngIf="submitted && addForm.controls.courseName.errors" class="error" >
          <div *ngIf="addForm.controls.courseName.errors.required">Course Name is required</div>
        </div>
    </div>
     <div class="form-group">
      <input type="text" formControlName="courseDuration" placeholder="Course Duration" name="courseDuration" class="form-control" id="courseDuration">
      <div *ngIf="submitted && addForm.controls.courseDuration.errors" class="error" >
          <div *ngIf="addForm.controls.courseDuration.errors.required">Course Duration is required</div>
        </div>
    </div>
     <div class="form-group">
      <input type="text" formControlName="courseEligibility" placeholder="Course Eligibility" name="courseEligibility" class="form-control" id="courseEligibility">
      <div *ngIf="submitted && addForm.controls.courseEligibility.errors" class="error" >
          <div *ngIf="addForm.controls.courseEligibility.errors.required">Course Eligibility is required</div>
        </div>
    </div>
    <div class="form-group">
      <input type="text" formControlName="courseFee" placeholder="Course Fee" name="courseFee" class="form-control" id="courseFee">
     <div *ngIf="submitted && addForm.controls.courseFee.errors" class="error" >
          <div *ngIf="addForm.controls.courseFee.errors.required">Course Fee is required</div>
        </div>
    </div>



    <button class="btn btn-success" (click)="addCourse()" [disabled]="!addForm.valid">Add Course</button>
  </form>
</div>